.env
.history
src/framework/view/portal/i18n/langcache

docker/lab-mysql/mysql
docker/lab-webserver/logs
docker/lab-webserver/facialRecognitionLogin

src/upload

.vscode/launch.json

*.code-workspace

*.log